/* Coolors Exported Palette - coolors.co/1d1e18-2f6690-fffce8-ef593b-177e89 */

/* HSL */
$color1: hsla(70%, 11%, 11%, 1);
$color2: hsla(206%, 51%, 37%, 1);
$color3: hsla(52%, 100%, 95%, 1);
$color4: hsla(10%, 85%, 58%, 1);
$color5: hsla(186%, 71%, 31%, 1);

/* RGB */
$color1: rgba(29, 30, 24, 1);
$color2: rgba(47, 102, 144, 1);
$color3: rgba(255, 252, 232, 1);
$color4: rgba(239, 89, 59, 1);
$color5: rgba(23, 126, 137, 1);